<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Изменить студента</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Изменить {{ student.full_name }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>ФИО:</label>
                <input type="text" name="full_name" value="{{ student.full_name }}" class="form-control" style="width: 300px;">
            </div>

            <h3>Оценки</h3>
            {% for item in grades_data %}
                <div class="form-group">
                    <label style="width: 150px; display: inline-block;">{{ item.subject.name }}:</label>
                    <input type="number" name="subject_{{ item.subject.id }}" value="{{ item.value }}" min="2" max="5" step="1" style="width: 80px;">
                </div>
            {% endfor %}

            <br>
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a href="{% url 'index' %}" class="btn btn-default">Отмена</a>
        </form>
    </div>
</body>
</html>