<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Добавить студента</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Добавить студента</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a href="{% url 'index' %}" class="btn btn-default">Отмена</a>
        </form>
    </div>
</body>
</html>