<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HELLO, WORLD!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum exercitationem repellendus tenetur! Animi
    consequuntur cumque et facere iste magnam maxime minima, natus necessitatibus nemo nobis numquam odio officia
    pariatur perferendis ratione, reiciendis rem sed, sit temporibus. A accusamus atque culpa dignissimos distinctio
    doloribus eos ex illo, illum ipsum magni perferendis quaerat repudiandae rerum totam ullam velit voluptatum?
    Accusamus aspernatur commodi deserunt doloribus eveniet explicabo fuga ipsam modi natus nesciunt odio odit placeat
    quae quasi quis quisquam quod quos sit, ullam voluptas. Ad doloribus, facere magnam neque nostrum odit quaerat
    tempore voluptatibus. A accusamus enim magnam minus perferendis. Aspernatur, totam!</p>
</body>
</html>s